<section>
<div class="container">
<div class="row">
					<div class="col-md-12">
          <!-- TITLE SECTION -->
                <div class="pt-5 pb-3 text-left">
                  <h2 class="pt-3">Group details</h2></h2>
                  <p class="sub-section">let us know more about the group</p>
                </div>
                <!-- END TITLE SECTION -->
						<div class="add-groupe-heading">
							
							<div class="heading">
								<h4>Group title</h4>
							</div>
							
							<div class="form-panel">
							<%= form_with(model: group, local: true) do |form| %>
								<%# <form action=""> %>

								
									<% if group.errors.any? %>
										<div id="error_explanation">
											<h5><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h5>

											<ul>
											<% group.errors.full_messages.each do |message| %>
												<li><%= message %></li>
											<% end %>
											</ul>
										</div>
  								<% end %>

									<div class="form-group form-group-head">

										<div class="input-group">
											<%= form.label :title, "<span></span>".html_safe%>
											<%= form.text_field :title, class:"form-control title", placeholder:"My awesome group title" %>
										</div>

										<div class="input-group date-in">
											<div class="input-group mb-2">
												<div class="input-group-prepend">
													<div class="input-group-text"></div>
												</div>
												<%= form.label :start_date, "<span></span>".html_safe %>
												<%= form.date_field :starting_date, "data-provide" => 'datepicker', id:"inlineFormInputGroup", class:"form-control datepicker", style:"line-height: 2.5 !important;"  %>
											</div>
										</div>

									</div>


									<div class="gorm-group form-group-core">

										<div class="row">

											<div class="col-md-8">
												<div class="heading-grey">
													<h3>
													Group Info
													</h3>

													<div class="cta-add-minus">
														<%= form.label :max_attendees, '<i class="fas fa-user"></i>'.html_safe %>
    												<%= form.number_field :max_attendees, class:"btn attendees" %>
														<button class="btn" disabled="disabled">+ attendees</button>
													</div>
												</div>

												<div class="input-group">
													<%= form.label :meeting_point, "Location :" %>
													<%= form.text_field :meeting_point, class:"form-control location", id:"location", placeholder:"Type event location" %>
												</div>

												<div class="input-group">
													<%= form.label :city, "City :" %>
													<%= form.text_field :city, class:"form-control location", id:"city", placeholder:"Type city" %>
												</div>

												<div class="input-group">
													<%= form.label :remote, "Remote group ?" %>
													<%= form.check_box :remote, class:"icheck" %>
												</div>



												<div class="input-group">
													<%= form.label :description, "Description :" %>
													<%= form.text_area :description, class:"form-control", placeholder:"Tell us more about your group...", cols:"30", rows:"10"%>
												</div>
												<div class="input-group">

													<%= form.label :work_period, "Pace :" %>
    											<%= form.select(:work_period, ['Week-ends', 'Evenings', 'Mornings', 'All days long'], {}, class:"form-control") %>
												</div>

											</div>
											<div class="col-md-1">	</div>
											<div class="col-md-3">

												<div class="card create card-shadow mt-4">
													<%= image_tag @group.udemy_url_img, class:"card-img-top img-fluid p-2" unless @group.udemy_url_img.nil?  %>
													<div class="card-block">

															<h6 class="text-center"><%= @group.udemy_course_title %><br><small style="line-height:2.5rem !important"><%=@udemy_course['price']%></small></h6>
															
															<div class="text-center mt-3 mb-3">
															<% course_url = "https://www.udemy.com/course/" + "#{@group.udemy_course_id.to_s}"%>
															<%= link_to "Get the course", course_url, target: "_blank", class:"btn-custom" %>


														</div>               
													</div>
            						</div>


											</div>
										</div>

									</div>

									<div class="form-group">	
										<div class="input-group text-center">
											<div class="cta-s">
												<%= form.submit :submit, class:"btn btn-primary" %>
											</div>
										</div>
									</div>

									<%end%>

								<%# </form> %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>