<section>
<div class="container">
<div class="row">
					<div class="col-md-12">
          <!-- TITLE SECTION -->
                <div class="pt-5 pb-3 text-left">
                  <h2 class="pt-3">Group details</h2></h2>
                  <p class="sub-section">let us know more about the group</p>
                </div>
                <!-- END TITLE SECTION -->
						<div class="add-groupe-heading">
							
							<div class="heading">
								<h4>Group title</h4>
							</div>
							
							<div class="form-panel">
							<%= form_with(model: group, local: true) do |form| %>
								<%# <form action=""> %>

								
									<% if group.errors.any? %>
										<div id="error_explanation">
											<h5><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h5>

											<ul>
											<% group.errors.full_messages.each do |message| %>
												<li><%= message %></li>
											<% end %>
											</ul>
										</div>
  								<% end %>

									<div class="form-group form-group-head">

										<div class="input-group">
											<%= form.label :title, "<span></span>".html_safe%>
											<%= form.text_field :title, class:"form-control title", placeholder:"My awesome group title" %>
										</div>
<%= form.label :date_of_tour %>
<%= form.date_field :date_of_tour, "data-provide" => 'datepicker' %>

										<div class="input-group date-in">
											<div class="input-group mb-2">
												<div class="input-group-prepend">
													<div class="input-group-text"></div>
												</div>
												<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="13 novembre">
											</div>
										</div>

									</div>


									<div class="gorm-group form-group-core">

										<div class="row">

											<div class="col-md-8">
												<div class="heading-grey">
													<h3>
													Group Info
													</h3>

													<div class="cta-add-minus">
														<button class="btn" disabled="disabled"><i class="fas fa-user"></i> 5</button>
														<button class="btn">+ participant</button>
													</div>
												</div>
												<div class="input-group">
													<label for="location">Location :</label>
													<input type="text" class="form-control location" id="location" placeholder="Type event location">
												</div>


												<div class="input-group">
													<%= form.label :description, "Description :" %>
													<%= form.text_area :description, class:"form-control", placeholder:"Tell us more about your group...", cols:"30", rows:"10"%>
												</div>
												<div class="input-group">
													<label for="pace">Pace :</label>
													<select name="	" class="form-control" id="">
														<option value="">All mornings</option>
													</select>
												</div>
												<div class="input-group">
													<label for="ambiance">Ambiance</label>
													<select name="" class="form-control" id="">
														<option value="">Mega funzer</option>
													</select>
												</div>
											</div>
											<div class="col-md-1">	</div>
											<div class="col-md-3">

												<div class="card create card-shadow mt-4">
													<%= image_tag @group.udemy_url_img, class:"card-img-top img-fluid p-2" unless @group.udemy_url_img.nil?  %>
													<div class="card-block">

															<h6 class="text-center"><%= @group.udemy_course_title %><br><small style="line-height:2.5rem !important"><%=@udemy_course['price']%></small></h6>
															
															<div class="text-center mt-3 mb-3">
															<% course_url = "https://www.udemy.com/course/" + "#{@group.udemy_course_id.to_s}"%>
															<%= link_to "Get the course", course_url, target: "_blank", class:"btn-custom" %>


														</div>               
													</div>
            						</div>


											</div>
										</div>

									</div>

									<div class="form-group">	
										<div class="input-group text-center">
											<div class="cta-s">	
												<button class="btn back">Back</button>
												<button class="btn submit" role="submit">Create Groupe</button>
											</div>
										</div>
									</div>

									<%end%>

								<%# </form> %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>



<!--old page-->
<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!---->

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

<!---->
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

<!---->


  <div class="field">
  Course title :  <%= @group.udemy_course_title %>
  </div>

  <div class="field">
    <%= form.label :starting_date %>
    <%= form.date_select :starting_date %>
  </div>

  <div class="field">
    <%= form.label :max_attendees %>
    <%= form.number_field :max_attendees %>
  </div>

  <div class="field">
    <%= form.label :meeting_point %>
    <%= form.text_field :meeting_point %>
  </div>

    <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :remote %>
    <%= form.check_box :remote %>
  </div>

  <div class="field">
    <%= form.label :work_period %>
 
    <%= form.select(:work_period, ['Week-end', 'Soirée', 'Journée'], {}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
