<p id="notice"><%= notice %></p>

<%= render "layouts/header_group_index" %>

<% unless @groups_found.length == Group.all.length %><%= render "results_groups" %><%end%>

<%= render "popular_groups" %>

<%= render "last_groups" %>

