<h1>New Group</h1>

    <%=flash[:danger]%>

<%= form_tag("", method: "get") do %>
  <%= label_tag(:search, "Recherche un cours sympa") %>
  <%= text_field_tag(:search, @search_query) %>
  <%= submit_tag("Rechercher") %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Course title</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
  </thead>
   <tbody>
      <% @courses.each do |course| %>
        <tr> 
          <td> <%= image_tag(course['image_240x135']) %></td>
          <td> <%= course['title'] %></td>
          <td><%= course['headline'] %></td>

          <%if user_signed_in? == true%>
          <td><%= link_to "Choisir", groups_path(udemy_course_title: course['title'], udemy_course_id: course['id'], udemy_url_img: course['image_240x135']), method: :post %></td>
          <% end %>
        
        </tr>
        <% end %>
    </tbody>

</table>


<%= link_to 'Back', groups_path %>
