<!--comment--><% if false %>
<p id="notice"><%= notice %></p>
<% end %><!--comment-->

<%= render "layouts/header_group_show" %>

    <section id="course-section-details">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 col-sm-8 col-xs-12">
						<div class="course-details">
							<div class="metas-course">
								<div class="title-course">
									<h2>
									<%= @group.title %>
									
										<% if (@group_subs.length > 0) && (@group_subs.length < @group.max_attendees) && (@group.starting_date <= Time.now) %>   
											<span class="custom-badge-ilh green">Opening to join</span>
										<% elsif (@group_subs.length > 0) && (@group_subs.length < @group.max_attendees) && (@group.starting_date >= Time.now) %>   
											<span class="custom-badge-ilh yellow">Start at <%= @group.starting_date %></span>
										<% elsif (@group_subs.length > 0) && (@group_subs.length >= @group.max_attendees) %>   
											<span class="custom-badge-ilh red">Closed (full)</span>
										<% end %>
										
                  <span class="custom-badge-ilh green"><%= @group.work_period %></span>
									</h2>
									<%if current_user == @group.user %><small style="font-size:13px"><%= link_to 'Edit', edit_group_path(@group)%> | <%= link_to 'Delete', group_path(@group), :method => :delete, data: {:confirm => "You sure?" } %></small><%end%>
								</div>
								<div class="metadata">
									<div class="metadata_box_ilh">
										<div>
											<div class="photo">
                        <%= image_tag @group.user.avatar, class:"img-fluid" %>
											</div>
										</div>
										<div>
											<div class="data_content_ilh">
												<p><strong>Created by <%= @group.user.first_name %> <%= @group.user.last_name %></strong> - <%= @group_subs.count %> / <%= @group.max_attendees %> attendee<%unless @group.max_attendees.nil?%><% if (@group.max_attendees > 1) %>s<%end%><%end%></p>
												<p class="italic_ilh"><%= @group.city %></p>
											</div>
										</div>
									</div>
								</div>
								
								<div class="resume_course_ilh">
									<p>
										<%= @group.description %>
									</p>
								</div>


                <%unless @group.max_attendees.nil?%>
                  <% if (@group_subs.count < @group.max_attendees) || (@user_sub == true) %>
                	<%end%> 
								
									<% if current_user == @group.user %>
									<% elsif @user_sub == true %>
                    <%= link_to "Leave group", {:controller => "subscriptions", :action => 'destroy', :group_id => @group.id}, class: "btn btn-outline-primary", method: :delete %>
                  <% elsif @user_sub == false %>
                    <%= link_to "Join group", group_subscriptions_path(@group.id), class: "btn btn-primary", method: :post %>
                  <%end%>

                <%else%>
                  <span class="btn btn-grey">Complet</span>
                <%end%>
								
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-12">
  
            <div class="card card-shadow mt-4">
              <%= image_tag @group.udemy_url_img, class:"card-img-top img-fluid p-2" unless @group.udemy_url_img.nil?  %>
              <div class="card-block">
                  <h6 class="text-center"><%= @group.udemy_course_title %><br><small style="line-height:2.5rem !important"><%=@udemy_course['price']%></small></h6>
                  
                  <div class="text-center mt-3 mb-3">
                  <% course_url = "https://www.udemy.com/course/" + "#{@group.udemy_course_id.to_s}"%>
									<%= link_to "Get the course", course_url, target: "_blank", class:"btn-custom" %>
								</div>               
              </div>
            </div>

          </div>
					</div>


				</div>
			</div>
		</section>


    <section id="tabs-ilh">
			<div class="container mt-5">
				<div class="row">
					<div class="col-md-12">
						<nav class="custom-tab-nav-ilh">
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<a class="nav-item nav-link active sky" id="nav-course-tab" data-toggle="tab" href="#nav-course" role="tab" aria-controls="nav-course" aria-selected="true"><i class="fas fa-bookmark"></i>Course</a>
								<a class="nav-item nav-link blue" id="nav-discussion-tab" data-toggle="tab" href="#nav-discussion" role="tab" aria-controls="nav-discussion" aria-selected="false"><i class="fas fa-cocktail"></i>Discussion</a>
								<a class="nav-item nav-link green" id="nav-participant-tab" data-toggle="tab" href="#nav-participant" role="tab" aria-controls="nav-participant" aria-selected="false"><i class="fas fa-user"></i>Attendee<%unless @group.max_attendees.nil?%><% if (@group.max_attendees > 1) %>s<%end%><%end%> (<%= @group_subs.count %>)</a>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</section>


    <section id="content-tabs-ilh">
			
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="nav-course" role="tabpanel" aria-labelledby="nav-course-tab">
					<%= render "udemy_course" %>
				</div>

				<div class="tab-pane fade" id="nav-discussion" role="tabpanel" aria-labelledby="nav-discussion-tab">
					<%= render "comments/comments" %>
				</div>

				<div class="tab-pane fade" id="nav-participant" role="tabpanel" aria-labelledby="nav-participant-tab">
					<%= render "subscriptions/group_subs" %>
				</div>
			</div>
		</section>
    

<section id="sejoindre-ilh">
			<div class="container">	
				<div class="row">

        <!-- TITLE SECTION -->
          <div class="col-md-12 text-center">
            <h2 class="pt-3">Join your group</h2>
            <p class="sub-section">
              La félicita - Paris<br>
              Quai alain turning
            </p>
          </div>
        <!-- END TITLE SECTION -->

				</div>
			</div>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.354627368286!2d2.370604051442904!3d48.83237401039025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e673c1a7b05e93%3A0x43df410cb9fd7b90!2sLa%20Felicit%C3%A0!5e0!3m2!1sfr!2sfr!4v1584946772893!5m2!1sfr!2sfr" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</section>

<script>
$('#myTab a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})

</script>
