<p id="notice"><%= notice %></p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Peerclub.io, rentre dans le game !</h1>
  </div>
</div>
<div class="container">
    <h2><strong><%= @group.title %></strong></h2>
    <p>
    <strong>Créer par : <%= @group.user.first_name %></strong> - <%= @group.max_attendees %> places.
    <br>
    Début : <%= @group.starting_date %>
    <br>
    <%= @group.meeting_point %> <%= @group.city %> - <%= @group.work_period %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @group.description %>
  </p>
  <br>
  <%= link_to "Join group", "#", class: "btn-lg btn-info" %>
  <br>
  <br>
  <p>
    <strong>Udemy course title:</strong>
    <%= @group.udemy_course_title %>
  </p>

  <p>
    <strong>Udemy course:</strong>
    <%= @group.udemy_course_id %>
  </p>

  <p>
    <strong>Udemy course picture:</strong>
    <%= @group.udemy_url_img %>
  </p>
  <p>
    <strong>Remote:</strong>
    <%= @group.remote %>
  </p>

  <%= render "subscriptions/group_subs" %>
  <%= render 'comments/comment' %><br /><br />
  <%= render 'comments/form' %>
</div>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

