<p id="notice"><%= notice %></p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Peerclub.io, rentre dans le game !</h1>
  </div>
</div>
<div class="container">
    <h2><strong><%= @group.title %></strong></h2>
    <p>
    <strong>Créer par : <%= @group.user.first_name %></strong> - <%= @group.max_attendees %> places.
    <br>
    Début : <%= @group.starting_date %>
    <br>
    <%= @group.meeting_point %> <%= @group.city %> - <%= @group.work_period %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @group.description %>
  </p>
  <br>

  <%=@group_subs.count %>
  <% if (@group_subs.count < @group.max_attendees) || (@user_sub == true) %>
    
    <% if @user_sub == true %>
      <%= link_to "Leave group", {:controller => "subscriptions", :action => 'destroy', :group_id => @group.id}, class: "btn-lg btn-info", method: :delete %>
    <%end%>
    <% if @user_sub == false %>
      <%= link_to "Join group", group_subscriptions_path(@group.id), class: "btn-lg btn-info", method: :post %>
    <%end%>

  <%else%>
    <span class="btn-lg btn-info">Complet</span>
  <%end%>
  <br>
  <br>
  <p>
    <strong>Udemy course title:</strong>
    <%= @group.udemy_course_title %>
  </p>

  <p>
    <strong>Udemy course:</strong>
    <%= @group.udemy_course_id %>
  </p>

  <p>
    <strong>Udemy course picture:</strong>
    <%= @group.udemy_url_img %>
  </p>
  <p>
    <strong>Remote:</strong>
    <%= @group.remote %>
  </p>

  <%= render "subscriptions/group_subs" %>
  <%= render 'comments/comment' %><br /><br />
  <%= render 'comments/form' %>
</div>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

