
<div class="container">

  <h1><%= @user.first_name %> <%= @user.last_name %><h1>
 
  <p> 
    <ul>
      <li> Description : <%=@user.description %></li>
      <li> Birthday : <%= @user.date_of_birth %></li>
      <li> Email : <%= @user.email %></li>
      <li>Job : <%= @user.job %></li>
    </ul>
  </p>
</div>