<%= render "layouts/header_user_profile" %>
<div class="container-fluid profile-section">
  <div class="container pt-5">
    <div class="row">
        <div class="col-md-4 col-sm-12 profile metas">
          
            <div class="avatar">
              <%= image_tag @user.avatar, style:"max-width:100px", class: "rounded-circle" if @user.avatar.attached? %>
            </div>
            <div class="mt-3 name">
              <h3><%= @user.first_name %> <%= @user.last_name %></h3>
            </div>
            <div class="job">
              <%= @user.job %>
            </div>
            <hr>

            <div class="mt-3 meta">
              <span class="metaprofile">Email :</span> <%= @user.email %>
            </div>
            <div class="mt-2">
              <span class="metaprofile">Description :</span> <%=@user.description %>
            </div>
            <div class="mt-2">
              <span class="metaprofile">Birthday :</span> <%= @user.date_of_birth %>
            </div>

            <div class="mt-4">
              <%= link_to "Edit profile", edit_user_registration_path(@user), class:"btn btn-primary" if @user == current_user %>
            </div>
        </div>

        <div class="col-md-8 col-sm-12 profile">
          <span class="metaprofile mt-3">Own by <%= @user.first_name %></span>
          <div class="row pb-5"> 
            <%# <div class="align-self-stretch flex-column"> %>
              
              <% @user.groups.each do |group|%>
              <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="card card-shadow mt-4">
                <div class="card-block">
                  <h4 class="card-title"><%= link_to "#{group.title}", group %></h4>
                  <small class="card-text"><%= group.udemy_course_title  %></small>
                  <small><p class="card-text">
                  <% unless group.subscriptions.nil? || group.max_attendees.nil? %>
                    <% if (group.subscriptions.length > 0) && (group.subscriptions.length < group.max_attendees) && (group.starting_date <= Time.now) %>   
                      <span class="text-green">Opening to join</span>
                    <% elsif (group.subscriptions.length > 0) && (group.subscriptions.length < group.max_attendees) && (group.starting_date >= Time.now) %>   
                      <span class="text-orange">Start at <%= group.starting_date %></span>
                    <% elsif (group.subscriptions.length > 0) && (group.subscriptions.length >= group.max_attendees) %>   
                      <span class="text-red">Closed (full)</span>
                    <% end %>
                  <%else%>
                      <span class="text-green">Opening to join</span>
                  <%end%>
                  - 
                  <%=group.city%>
                  </p></small>

                  <!--comment-->
                  <% if false %>
                  
                  <div class="avatar-zone">
                    <% i = 0 %>
                    <%unless group.subscriptions.nil? %>
                      <% while (i < 5) do %>
                      <span>
                        <%unless group.subscriptions[i].nil? %>
                          <%= link_to image_tag(group.subscriptions[i].user.avatar, style:"width:30px; height:30px", class:"rounded-circle mt-2"), user_path(group.subscriptions[i].user) if group.subscriptions[i].user.avatar.attached? %>
                        <%end%>
                      </span>
                      <% i += 1 %>
                      <% end %>
                    <%end%>
                  </div>

                  <% end %>
                  <!--comment-->

                </div>
              </div>
              </div>
              <% end %>
              <%if @user.groups.empty?%>
                <p>No group created yet</p>
              <% end %>
            <%# </div> %>
          </div>

              <span class="metaprofile mt-3">Groups subscribed</span>

          <div class="row pb-5"> 
            <%# <div class="align-self-stretch flex-column"> %>
            <% subs = @user.subscriptions.where(group_id:Group.where.not(user:@user)) %>
                <% subs.each do |s|%>
                

              <div class="col-md-4 col-sm-6 col-xs-12">
              
              <div class="card card-shadow mt-4">
                        
                        <div class="card-block">
                            <h4 class="card-title"><%= link_to "#{s.group.title}", s.group %></h4>
                            <small class="card-text"><%= s.group.udemy_course_title  %></small>
                            <small><p class="card-text">
                            <% unless s.group.subscriptions.nil? || s.group.max_attendees.nil? %>
                              <% if (s.group.subscriptions.length > 0) && (s.group.subscriptions.length < s.group.max_attendees) && (s.group.starting_date <= Time.now) %>   
                                <span class="text-green">Opening to join</span>
                              <% elsif (s.group.subscriptions.length > 0) && (s.group.subscriptions.length < s.group.max_attendees) && (s.group.starting_date >= Time.now) %>   
                                <span class="text-orange">Start at <%= s.group.starting_date %></span>
                              <% elsif (s.group.subscriptions.length > 0) && (s.group.subscriptions.length >= s.group.max_attendees) %>   
                                <span class="text-red">Closed (full)</span>
                              <% end %>
                            <%else%>
                                <span class="text-green">Opening to join</span>
                            <%end%>
                              

                              - 
                              <%=s.group.city%>
                            </p></small>

                            

                          <!--comment-->                        
                          <%if false%>

                            <div class="avatar-zone">
                            <% i = 0 %>
                            <%unless @user.subscriptions.nil? %>
                          
                          

                            <% while (i < 5) do %>
                                <span>
                                  <%unless @user.subscriptions[i].nil? %>
                                  <%= link_to image_tag(@user.subscriptions[i].user.avatar, style:"width:30px; height:30px", class:"rounded-circle mt-2"), user_path(@user.subscriptions[i].user) if @user.subscriptions[i].user.avatar.attached? %>
                                  <%end%>
                                </span>
                              <% i += 1 %>
                            <% end %>
                        


                            <%end%>
                            </div>

                        <%end%> 
                        <!--comment-->

                        </div>
                    </div>
                    </div>
                        <% end %>
                        <%if @user.subscriptions.empty?%>
                          <p>No group created yet</p>
                        <% end %>

                      </div>

                    </div>


                </div>
              </div>
              </div>
            </div>

<script>
  function myFunction() {
    var x = document.getElementById("avatar");
    var s = document.getElementById("submit_avatar")
    var txt = "";
    if ('files' in x) {
      if (x.files.length == 0) {
        txt = "Select one or more files.";
        s.setAttribute('disabled', 'true');
      } else {
        s.removeAttribute('disabled');
      }
    }
    document.getElementById("text").innerHTML = txt;
  }
</script>
