<div class="container-fluid jumbo mt-5">
  <div class="jumbo-head mx-auto col-s-12">
  <span class="punchline-jumbo">Arrête de bluffer,<br>
  c'est le moment de coder.</span><br>
  <span class="subtitle">Find a group to learn your favorite lesson on Udemy</span>

  <%= form_tag(groups_path, method: "get") do %>
      <%= label_tag(:city, :city, class:"hidden") %>
      <%= text_field_tag(:city, "" , placeholder:"Where are you ?", class:"left_field") %>

      <%= label_tag(:search, :search, class:"hidden") %>
      <%= text_field_tag(:search, "", placeholder:"What do you want to learn ?", class:"right_field") %>
      <%= submit_tag("Rechercher", class:"btn btn-primary") %>
  <% end %>
  </div>
  
</div>